body{
    background:#EFEFEF;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    color:#000;
}

*{
    margin:0;
    padding:0;
}

hr{
    height:0;

}

a{
    color:inherit;
    text-decoration:none;
}

.clearfix::after{
    display:block;
    content:'';
    clear:both;
}

.topNavBar {
    padding-top:20px 0;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    /* width;100% 的bug，子元素比body还宽了，加上内外边距的宽度
     新手就喜欢写宽度 高度，建议能不写就不写
    */
}

.topNavBar .topNavBar-inner{
    padding:20px 16px;
}

.topNavBar  nav {
    float:right;
}

.topNavBar  nav  ul{
    /* float:right; */
    list-style: none;
    margin:0px;
    padding:0px;
}

.topNavBar  nav  ul  li{
    float:left;
    margin-left:17px;
    margin-right:17px;
}

.topNavBar  nav  ul  li  a{
    display:block;
    color:#b7b7b7;
    font-size:12px;
    font-weight:bold; 
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    height:33px;
    line-height:33px;
}

.topNavBar  nav  ul  li  a:hover{
    border-bottom: 3px solid #e06567;
}

.topNavBar  .logo{
    float:left;
    font-size:24px;
    font-family:"Arial Black";
}

.topNavBar  .logo  .rs{
    color:#e6686a;
}

.topNavBar  .logo  .card{
    color:#9a9da2
}

.banner {
    /*height属性bug，尽量不要写死 高度大于字体行高没问题，小于就会出现莫名其妙的问题*/
    height:515px;
    background-image:url("./img/rs-cover-2-2-1-1.jpg");
    background-position:center center;
    background-size:cover;
}

.banner .mask{
    height:515px;
    background-color:rgba(0,0,0,.7);
}

.userCard{
    border:1px solid red;
    max-width:940px;
    margin:0 auto;
    background-color:#FFF;
}

.userCard .welcome{
    display:inline-block;
    position:relative;
    background-color: #e6686a;
    color:#fff;
    padding:4px 16px; /* 写width height line-height 都是新手，而且还有bug，如果内容发生变化就是bug,不要写宽高要用盒子内边距找补 */
    line-height:22px;
    margin-bottom:10px;
}

/* 利用到用border属性写三角形 */
.userCard .welcome .triangle{
    position:absolute;
    left:4px;
    top:100%;
    border:10px solid transparent;
    border-top-width:0px;
    border-left-color:#E6686A;

}

.userCard .pictureAndText{
    padding:50px;
}

.userCard .pictureAndText .picture{
    float:left;
}

.userCard .pictureAndText .text{
    float:left;
    margin-left:65px;
    width:470px;
}

.userCard .pictureAndText .text h1{
    margin:18px 0;
}