body{
    background:#EFEFEF;
    font-family:Arial, "Microsoft YaHei", Helvetica, sans-serif;
    margin:0;
    color:#000;
}

*{
    margin:0;
    padding:0;
}

ul, ol {
    list-style:none;
}

h1,h2,h3,h4,h5,h6{
    font-weight:normal;
}

hr{
    height:0;
    border-top:#DEDEDE;
}

a{
    color:inherit;
    text-decoration:none;
}

.clearfix::after{
    display:block;
    content:'';
    clear:both;
}

.topNavBar {
    color:#b7b7b7;
    padding-top:20px 0;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    /* width;100% 的bug，子元素比body还宽了，加上内外边距的宽度
     新手就喜欢写宽度 高度，建议能不写就不写
    */
    transition:all .5s;
}

.topNavBar.sticky{
    background-color:white;
    box-shadow:0 0 10px rgba(0,0,0,0.35);
    color:#3d4451;
}

.topNavBar .topNavBar-inner{
    padding:20px 16px;
}

.topNavBar  nav {
    float:right;
}

.topNavBar  nav  ul{
    /* float:right; */
    list-style: none;
    margin:0px;
    padding:0px;
}

.topNavBar  nav  ul  li{
    float:left;
    margin-left:17px;
    margin-right:17px;
    position:relative;
}

.topNavBar  nav  ul  li  a{
    display:block;
    color:inherit;
    font-size:12px;
    font-weight:bold; 
    border-top:3px solid transparent;
    border-bottom:3px solid transparent;
    height:28px;
    line-height:33px;
}

.topNavBar  nav  ul  li  a:hover::after{
    content:'';
    position:absolute;
    top:100%;
    width:100%;
    left:0;
    background-color:#e06567;
    height:3px;
    animation:menuSider .3s;
}

@keyframes menuSider {
    0%{
        width:0px;
    }

    100%{
        width:100%;
    }
}

.topNavBar  .logo{
    float:left;
    font-size:24px;
    font-family:"Arial Black";
}

.topNavBar  .logo  .rs{
    color:#e6686a;
}

.topNavBar  .logo  .card{
    color:#9a9da2
}

.banner {
    /*height属性bug，尽量不要写死 高度大于字体行高没问题，小于就会出现莫名其妙的问题*/
    height:515px;
    background-image:url("./img/rs-cover-2-2-1-1.jpg");
    background-position:center center;
    background-size:cover;
}

.banner .mask{
    height:515px;
    background-color:rgba(0,0,0,.7);
}

.userCard{
    max-width:940px;
    margin:0 auto;
    background-color:#FFF;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.35);
}

.userCard .welcome{
    display:inline-block;
    position:relative;
    background-color: #e6686a;
    color:#fff;
    /* 写width height line-height 都是新手，而且还有bug，如果内容发生变化就是bug,不要写宽高要用盒子内边距找补 */
    padding:4px 16px;
    line-height:22px;
    margin-bottom:10px;
}

/* 利用到用border属性写三角形 */
.userCard .welcome .triangle{
    position:absolute;
    left:4px;
    top:100%;
    border:10px solid transparent;
    border-top-width:0px;
    border-left-color:#E6686A;

}

.userCard .pictureAndText{
    padding:50px;
}

.userCard .pictureAndText .picture{
    float:left;
}

.userCard .pictureAndText .text{
    float:left;
    margin-left:65px;
    width:470px;
}

.userCard .pictureAndText .text h1{
    margin:18px 0;
}

.userCard .pictureAndText .text hr{
    margin:20px 0;
}


/* 此处有bug，中文英文字体高度不一致导致浮动位置错位 */
.userCard dt{
    float:left;
    width:50%;
    font-weight:bold;
}

.userCard dd{
    float:left;
    width:50%;
    padding:5px 0;
    color:#9da0a7;
}

.userCard > footer.media{
    text-align: center;
    background-color:#E6686A;
    padding:16px 0;
}

.userCard footer.media a{
    display: inline-block;
    border-radius:50%;
    padding:5px;
}

.userCard footer.media a:hover{
    background-color:#CF5D5F;
}

.userCard svg{
    width:30px;
    height:30px;
    fill:#fff;
}

body main {
    margin-top:-340px;
}

body main .downloadResume-wrapper{
    text-align:center;
}

body main .downloadResume {
    font-size:14px;
    line-height:16px;
    padding:21px 55px; /* 内联元素上下内边距是无效的，但是左右生效 */
    border:1px solid #CDCFD1;
    display:inline-block;
    border-radius:2px;
    color:#3d4451;
    font-weight:bold;
    margin:35px 0;
    transition:box-shadow .5s;
}

body main .downloadResume:hover{
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.35);
}

body main .selfIntroduction{
    max-width:940px;
    margin:0 auto;
    line-height:1.8;
    /* margin-right:auto; */
    text-align:center;
    font-family:"华文楷体";
    font-size:16px;
}

section.skills,
section.portfolio {
    max-width:940px;
    margin:0 auto;
    margin-top:60px;
}

section.skills,
section.portfolio > h2{
    text-align:center;
    color:#3d4451;
    font-size:34px;
    line-height:1.2;
    font-weight:600;
}

section.skills > ol{
    background-color:white;
    box-shadow:0 1px 5px 0 rgba(0,0,0,0.5);
    margin-top:30px;
    padding:44px 43px 10px;
}


/* 盒模型默认是将width margin padding 算作一体的，使用box-sizing改变盒模型计算 */
section.skills > ol > li {
    float:left;
    width:50%;
    box-sizing:border-box;
}

/*
 nth-child() 选择器，可以利用语法选中奇数 偶数的元素
 伪类如何理解？
 虚的东西，这个元素的状态可能存在又或者不存在，比如没有被选中或者点击的就不存在，奇数偶数状态的元素，不一定存在的状态。
 冒号: 开头的是伪类 :hover , :nth-child()
 ::伪元素 ::before ::after

*/

section.skills > ol > li:nth-child(odd){
    padding-right:48px;
}

section.skills ol li h3{
    font-size:14px;
    line-height:1.1;
    padding-right:40px;
}

section.skills .progressBar{
    height:5px;
    margin:4px 0 40px;
    /* border:1px solid #FAE1E1; */
    border-radius:2px;
    background-color:#FAE1E1;
}

section.skills .progressBar .progress{
    height:100%;
    background-color: #E6686A;
    width:50%;
}

section.portfolio {
    text-align:center;
    margin-bottom:100px;
}

section.portfolio nav {
    display:inline-block;
    vertical-align:top;
    /* border:1px solid red; */
    margin-top:32px;
}

section.portfolio ol {
    /* border:1px solid red; */
    margin:0 auto;
    display:inline-block;
    vertical-align:top; /* 浮动内联元素会有对齐问题使用vertical-align 顶边对齐 */
    
}

section.portfolio nav ol > li{
    float:left;
    margin-left:40px;
    cursor:pointer;
}

/* first-child 同理 */
section.portfolio nav ol li:nth-child(1){
    margin-left:0;
}

section.portfolio nav .bar{
    height:5px;
    background-color:white;
    /* border:1px solid red; */
    margin-top:5px;
    margin-bottom:30px;
    border-radius: 2px;
}

section.portfolio nav .bar .bar-inner{
    height:100%;
    background-color: #e6686a;
    border-radius:2px;
    transition:all .5s;
}

section.portfolio nav .bar.state-1 .bar-inner{
    width:10%;
    margin-left:0px;

}

section.portfolio nav .bar.state-2 .bar-inner{
    width:20%;
    margin-left:65px;
}

section.portfolio nav .bar.state-3 .bar-inner{
    width:40%;
    margin-left:144px;
}

/* 绝对定位是脱离文档流的 */
section.portfolio .works{
    position:relative;
    border:1px solid red;
}

section.portfolio .works > .big,
section.portfolio .works > .small {
    position:absolute;
}
